<div id="background" (click)="closeModal()">
    <div id="foreground" (click)="doNothing($event)">
        <div class="modal-title">Today's {{goalName}} Goal</div>
        <div class="modal-content">
            <label for="goal-input" id="goal-label">{{goalName}}: </label>
            <input type="number" name="goal-input" id="goal-input" [(ngModel)]="currentAmount">
        </div>
        <div class="modal-actions">
            <div class="action-button" (click)="updateGoal()">
                <mat-icon 
                    aria-hidden="false" 
                    aria-label="update" 
                    fontIcon="done" 
                    id="confirm-button">
                </mat-icon>
            </div>
            <div class="action-button" (click)="closeModal()">
                <mat-icon 
                    aria-hidden="false" 
                    aria-label="cancel update" 
                    fontIcon="close" 
                    id="cancel-button">
                </mat-icon>
            </div>
        </div>
    </div>
</div>