#background {
    background-color: #00000077;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#foreground {
    background-color: #333333;
    border: solid 1px #444444;
    box-sizing: border-box;
    box-shadow: 2px 5px #0003;
    width: 276px;
    margin-top: 100px;
    margin-left: calc(50% - 138px);
    padding: 20px;
    text-align: center;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.action-button {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

#goal-input {
    width: 50px;
}

#goal-label {
    display: inline-block;
    padding: 10px;
}