#background {
    background-color: #00000077;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#foreground {
    background-color: #333333;
    border: solid 1px #444444;
    box-sizing: border-box;
    box-shadow: 2px 5px #0003;
    width: 350px;
    margin-top: 100px;
    margin-left: calc(50% - 175px);
    padding: 20px;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

#settings-tabs-header {
    width: 100%;
    padding: 10px;
}

.tab {
    width: calc(33% - 20px);
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.tab-content {
    width: 100%;
}

#defaults-table {
    width: 100%;
}

.goal-input {
    width: 50px;
}

.weekday-label {
    width: 90px;
}

.goal-cell {
    text-align: center;
}

.action-button {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.active-tab {
    background-color: #222222
}