.header {
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    background-color: #424AF4;
}

.settings-icon {
    position: absolute;
    right: 15px;
    top: -9px;
    font-size: 45px;
    cursor: pointer;
}