<div id="background" (click)="closeModal()">
    <div id="foreground" (click)="doNothing($event)">
        <div class="modal-content">
            {{message}}
        </div>
        <div class="modal-actions">
            <div class="action-button" id="confirm-button" (click)="confirmClicked()">
                {{confirmText}}
            </div>
            <div class="action-button" id="cancel-button" (click)="closeModal()">
                Cancel
            </div>
        </div>
    </div>
</div>
