<div>
    <div id="todays-goals-title">
        Today's Goals
    </div>
    <div id="calories" class="goal-item">
        <label for="calorie-goal" class="goal-item-label">Calories:</label>
        <input type="number" name="calorie-goal" id="calorie-goal" class="goal-item-input" [(ngModel)]="caloriesGoal" (blur)="updateGoals()" />
    </div>
    <div id="carbs" class="goal-item">
        <label for="carbs-goal" class="goal-item-label">Net Carbs (g):</label>
        <input type="number" name="carbs-goal" id="carbs-goal" class="goal-item-input" [(ngModel)]="carbsGoal" (blur)="updateGoals()" />
    </div>
    <div id="protein" class="goal-item">
        <label for="protein-goal" class="goal-item-label">Protein (g):</label>
        <input type="number" name="protein-goal" id="protein-goal" class="goal-item-input" [(ngModel)]="proteinGoal" (blur)="updateGoals()" />
    </div>
</div>