#todays-goals-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.goal-item {
    margin: 10px;
}

.goal-item-label {
    display: inline-block;
    width: 120px;
}

.goal-item-input {
    width: 50px;
}

#goals {
    padding-bottom: 20px;
}