.meal-name {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
}

.food-item {
    margin: 10px;
    margin-left: 25px;
    cursor: pointer;
}

.food-list {
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 10px;
}

.arrow {
    font-size: 10px;
    margin-right: 10px;
}

.info-detail {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 5px;
}

.delete-meal-icon {
    margin-bottom: -3px;
    margin-right: 10px;
    cursor: pointer;
}

.delete-food-icon {
    margin-left: 25px;
}

.trash-cell {
    width: 35px
}