<div class="food-list">
    <div *ngIf="food == null">No food entered</div>
    <div *ngIf="food != null">
        <div *ngFor="let meal of food.meals; let m = index">
            <table class="meal-name">
                <tr>
                    <td>
                        {{meal.name}} <span class="meal-info">{{getMealInfo(m)}}</span>
                    </td>
                    <td class="trash-cell">
                        <span class="meal-remover">
                            <mat-icon
                                aria-hidden="false"
                                aria-label="delete meal"
                                fontIcon="delete"
                                class="delete-meal-icon"
                                (click)="deleteMeal(m)">
                            </mat-icon>
                        </span>
                    </td>
                </tr>
            </table>
            <div class="food-item" *ngFor="let food of meal.food; let f = index;" (click)="toggleOpened(m, f)">
                <span class="inline">
                        <span class="food-name-data">{{existingFood[food.id] ? existingFood[food.id].name : ''}}</span>
                        <span class="inline">(</span>
                        <span *ngIf="!showEditing(m, f)" class="inline">{{food.quantity}}</span>
                        <span class="inline" *ngIf="showEditing(m, f)">
                            <input type="number" class="editor-input" (click)="doNothing($event)" [(ngModel)]="food.quantity">
                        </span>
                        <span class="serving-units-data">{{existingFood[food.id] ? existingFood[food.id].servingUnits : ''}}</span>
                        <span *ngIf="showEditing(m, f)">
                            <mat-icon
                                aria-hidden="false"
                                aria-label="save edit"
                                fontIcon="done"
                                class="save-edit-icon"
                                (click)="saveEdit($event)">
                            </mat-icon>
                        </span>
                        <span class="inline">)</span>
                    </span>
                <div class="food-details">
                    <ng-container *ngIf="activeMacros.calories">
                        {{(existingFood[food.id] ? existingFood[food.id].caloriesPerServing * food.quantity / existingFood[food.id].servingSize : 0) | roundOnePlace}} calories
                        <span class="food-info-divider" *ngIf="activeMacros.carbs || activeMacros.fat || activeMacros.protein">|</span>
                    </ng-container>
                    <ng-container *ngIf="activeMacros.carbs">
                        {{(existingFood[food.id] ? existingFood[food.id].carbsPerServing * food.quantity / existingFood[food.id].servingSize : 0)| roundOnePlace}} carbs (g)
                        <span class="food-info-divider" *ngIf="activeMacros.fat || activeMacros.protein">|</span>
                    </ng-container>
                    <ng-container *ngIf="activeMacros.fat">
                        {{(existingFood[food.id] ? existingFood[food.id].fatPerServing * food.quantity / existingFood[food.id].servingSize : 0) | roundOnePlace}} fat (g)
                        <span class="food-info-divider" *ngIf="activeMacros.protein">|</span>
                    </ng-container>
                    <ng-container *ngIf="activeMacros.protein">
                        {{(existingFood[food.id] ? existingFood[food.id].proteinPerServing * food.quantity / existingFood[food.id].servingSize : 0) | roundOnePlace}} protein (g)
                    </ng-container>
                </div>
                <div *ngIf="showOpened(m, f)">
                    <div class="food-editor">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="edit food"
                            fontIcon="edit"
                            class="edit-food-icon"
                            (click)="setEditing(m, f, $event)">
                        </mat-icon>
                    </div>
                    <div class="food-remover">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="delete food"
                            fontIcon="delete"
                            class="delete-food-icon"
                            (click)="deleteFood(m, f)">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div class="add-food-link"><span (click)="addFood(m, $event)" class="add-food-text">Add Food</span></div>
            <hr class="meal-divider" *ngIf="m != food.meals.length - 1">
        </div>
    </div>
</div>
