#background {
    background-color: #00000000;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#foreground {
    position: absolute;
    background-color: #333333;
    border: solid 1px #444444;
    box-sizing: border-box;
    box-shadow: 2px 5px #0003;
    width: 220px;
    right: 20px;
    bottom: 95px;
}

.adder-option {
    padding: 10px;
    text-align: right;
}

.adder-option:hover {
    background-color: #222222;
}