#main {
    position: absolute;
    font-family: "Inter", Helvetica, Arial, -apple-system, sans-serif;
    color: #D6D6D6;
    background-color: #303030;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
}