#background {
    background-color: #00000000;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#foreground {
    background-color: #FFFFFF;
    border: solid 1px #555;
    border-radius: 20px;
    width: 260px;
    margin-top: 100px;
    margin-left: calc(50% - 150px);
    padding: 20px;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-label {
    display: inline-block;
    width: 100px;
}

.food-num {
    width: 50px;
}

.food-field {
    margin-bottom: 10px;
}

.action-button {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}