#background {
    background-color: #00000077;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

#foreground {
    background-color: #333333;
    border: solid 1px #444444;
    box-sizing: border-box;
    box-shadow: 2px 5px #0003;
    width: 350px;
    margin-top: 100px;
    margin-left: calc(50% - 175px);
    padding: 20px;
}

.modal-title {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input-label {
    display: inline-block;
    width: 100px;
}

.food-num {
    width: 45px;
}

.food-field {
    margin-bottom: 10px;
}

.action-button {
    display: inline-block;
    margin-right: 10px;
    margin-top: 0px;
    padding: 10px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #444444;
}

#new-food-button {
    color: #69B1F5;
}

.food-serving-size {
    display: inline-block;
    font-size: 14px;
    max-width: 85px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.serving-start {
    margin-left: 5px;
}

.food-info {
    font-size: 14px;
    margin-left: 25px;
}

.stored-food {
    margin-bottom: 5px;
    cursor: pointer;
}

.quantity-num {
    margin-right: 5px;
}

.quantity-chooser {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 25px;
}

#existing-foods {
    max-height: 200px;
    overflow-y: auto;
}

#existing-food-title {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

#new-food-info {
    margin-top: 20px;
    margin-bottom: 10px;
}

.modal-actions {
    margin-top: 25px;
}

.add-food-icon {
    color: #69B1F5;
}

.cancel-icon {
    color: #f56969;
}

#done-button {
    color: #69B1F5;
}

.action-button-wrapper {
    width: 100%;
    text-align: right;
}

.inline-adder {
    font-size: 18px;
    height: 14px;
}

#foods-edit-button {
    position: absolute;
    right: calc(50% - 145px);
    top: 164px;
}

#foods-search-button {
  position: absolute;
  left: calc(50% - 145px);
  top: 164px;
}

#foods-search-input {
  width: calc(100% - 10px);
  margin-bottom: 20px;
}

.serving-size-input {
    width: 45px;
}

.serving-units-input {
    width: 50px;
}

.edit-num-input {
    margin-left: 25px;
}

.delete-food-icon {
    margin-bottom: -6px;
    cursor: pointer;
}

.edit-food-icon {
  cursor: pointer;
}

.search-food-icon {
  margin-right: 18px;
  cursor: pointer;
}

.food-name {
    display: inline-block;
    max-width: 175px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    overflow-x: hidden;
    font-size: 14px;
}

.food-info-num {
    margin-left: 3px;
    margin-right: 3px;
}

.food-name-input {
    width: 100px;
}
