<div id="background" (click)="closeModal()">
    <div id="foreground" (click)="doNothing($event)">
        <div class="modal-title">Add A New Food</div>
        <div class="modal-content">
            <div id="foods-search-button" (click)="toggleSearchFoods()">
              <mat-icon
                aria-hidden="false"
                aria-label="search food"
                fontIcon="search"
                class="search-food-icon">
              </mat-icon>
            </div>
            <div id="existing-food-title">
                My Foods
            </div>
            <div id="foods-edit-button" (click)="editFoods()" *ngIf="!foodEditing">
              <mat-icon
                aria-hidden="false"
                aria-label="edit food"
                fontIcon="edit"
                class="edit-food-icon">
              </mat-icon>
            </div>
            <div *ngIf="showFoodSearch" id="foods-search">
              <input type="text" id="foods-search-input" [(ngModel)]="foodSearch" (ngModelChange)="updateFoodsList()" />
            </div>
            <div id="existing-foods">
                <div *ngFor="let food of filteredFoods | sortByOrder" class="stored-food">
                    <div (click)="foodClicked(food.id)">
                        <span class="food-remover" *ngIf="foodEditing">
                            <mat-icon
                                aria-hidden="false"
                                aria-label="delete food"
                                fontIcon="delete"
                                class="delete-food-icon"
                                (click)="deleteFood(food.id)">
                            </mat-icon>
                        </span>
                        <span class="food-name" *ngIf="!foodEditing">{{food.name}}</span>
                        <input type="text" class="food-name-input" [(ngModel)]="food.name" *ngIf="foodEditing">
                        <span class="inline serving-start">(</span>
                        <span class="food-serving-size" *ngIf="!foodEditing">{{food.servingSize}} {{food.servingUnits}}</span>
                        <input type="number" class="food-num" *ngIf="foodEditing" [(ngModel)]="food.servingSize">
                        <input type="text" class="food-num" *ngIf="foodEditing" [(ngModel)]="food.servingUnits">
                        <span class="inline">)</span>
                        <br>
                        <span class="food-info">
                            <span class="food-info-num" *ngIf="!foodEditing && activeMacros.calories">{{food.caloriesPerServing}}</span>
                            <input type="number" class="food-num" *ngIf="foodEditing" [(ngModel)]="food.caloriesPerServing">
                            <ng-container *ngIf="activeMacros.calories || foodEditing">calories<ng-container *ngIf="foodEditing || activeMacros.carbs || activeMacros.fat || activeMacros.protein">,</ng-container></ng-container>
                            <br *ngIf="foodEditing">
                            <span class="food-info-num" *ngIf="!foodEditing && activeMacros.carbs">{{food.carbsPerServing}}</span>
                            <input type="number" class="food-num edit-num-input" *ngIf="foodEditing" [(ngModel)]="food.carbsPerServing">
                            <ng-container *ngIf="activeMacros.carbs || foodEditing">carbs<ng-container *ngIf="foodEditing || activeMacros.fat || activeMacros.protein">,</ng-container></ng-container>
                            <br *ngIf="foodEditing">
                            <span class="food-info-num" *ngIf="!foodEditing && activeMacros.fat">{{food.fatPerServing}}</span>
                            <input type="number" class="food-num edit-num-input" *ngIf="foodEditing" [(ngModel)]="food.fatPerServing">
                            <ng-container *ngIf="activeMacros.fat || foodEditing">fat<ng-container *ngIf="foodEditing || activeMacros.protein">,</ng-container></ng-container>
                            <br *ngIf="foodEditing">
                            <span class="food-info-num" *ngIf="!foodEditing && activeMacros.protein">{{food.proteinPerServing}}</span>
                            <input type="number" class="food-num edit-num-input" *ngIf="foodEditing" [(ngModel)]="food.proteinPerServing">
                            <ng-container *ngIf="activeMacros.protein || foodEditing">protein</ng-container>
                        </span>
                    </div>
                    <div *ngIf="selectedFoodId.toString() == food.id" class="quantity-chooser">
                        <input type="number" class="food-num quantity-num" [ngModel]="food.servingSize" (change)="quantityChanged($event)">
                        <span class="food-serving-size">{{food.servingUnits}}</span>
                        <div class="action-button" (click)="addFood(food.id)">
                            <mat-icon
                                aria-hidden="false"
                                aria-label="add food"
                                fontIcon="done"
                                class="add-food-icon inline-adder">
                            </mat-icon>
                        </div>
                    </div>
                </div>
            </div>
            <div id="new-food-info" *ngIf="newFoodShowing">
                <div class="food-field">
                    <label for="name" class="input-label">Name:</label>
                    <input type="text" id="name" name="name" [(ngModel)]="name">
                </div>
                <div class="food-field">
                    <label for="serving-size" class="input-label">Serving Size:</label>
                    <input type="number" id="serving-size" name="serving-size" [(ngModel)]="servingSize" class="food-num">
                    <input type="text" id="serving-units" name="serving-units" [(ngModel)]="servingSizeUnits" class="food-num">
                </div>
                <div class="food-field">
                    <label for="calories" class="input-label">Calories:</label>
                    <input type="number" id="calories" name="calories" [(ngModel)]="calories" class="food-num">
                </div>
                <div class="food-field">
                    <label for="carbs" class="input-label">Carbs (g):</label>
                    <input type="number" id="carbs" name="carbs" [(ngModel)]="carbs" class="food-num">
                </div>
                <div class="food-field">
                    <label for="fat" class="input-label">Fat (g):</label>
                    <input type="number" id="fat" name="fat" [(ngModel)]="fat" class="food-num">
                </div>
                <div class="food-field">
                    <label for="protein" class="input-label">Protein (g):</label>
                    <input type="number" id="protein" name="protein" [(ngModel)]="protein" class="food-num">
                </div>
                <div class="action-button-wrapper">
                    <div class="action-button" (click)="storeFood()">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="add food"
                            fontIcon="done"
                            class="add-food-icon">
                        </mat-icon>
                    </div>
                    <div class="action-button" (click)="cancelNewFood()">
                        <mat-icon
                            aria-hidden="false"
                            aria-label="cancel add food"
                            fontIcon="close"
                            class="cancel-icon">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-actions action-button-wrapper">
            <div id="done-button" class="action-button" (click)="closeModal()" *ngIf="!foodEditing">
                Done
            </div>
            <div id="new-food-button" class="action-button" *ngIf="!newFoodShowing && !foodEditing" (click)="newFoodClicked()">
                Add New Food
            </div>
            <div class="action-button" (click)="saveFoodEdits()" *ngIf="foodEditing">
                <mat-icon
                    aria-hidden="false"
                    aria-label="save-food-edits"
                    fontIcon="done"
                    class="add-food-icon">
                </mat-icon>
            </div>
            <div class="action-button" (click)="cancelEditing()" *ngIf="foodEditing">
                <mat-icon
                    aria-hidden="false"
                    aria-label="cancel update"
                    fontIcon="close"
                    class="cancel-icon">
                </mat-icon>
            </div>
        </div>
    </div>
</div>
