#remaining-title {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.remaining-item {
    margin: 10px;
}

.remaining-label {
    display: inline-block;
    width: 120px;
}

#remaining {
    padding-bottom: 20px;
}