<header 
    id="header" 
    (settings)="openSettings()">
</header>
<!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->

<today-food 
    id="today-food" 
    [food]="todaysMeals"
    [existingFood]="storedFoods"
    (removeMeal)="removeMeal($event)"
    (removeFood)="removeFood($event)">
</today-food>

<add-button 
    id="adder" 
    (add)="displayAdderChooser()">
</add-button>
<adder-modal 
    id="adder-modal" 
    *ngIf="adderModalShowing" 
    (close)="closeAllModals()" 
    (start)="startMeal($event)">
</adder-modal>
<adder-chooser 
    id="adder-chooser" 
    *ngIf="adderChooserShowing" 
    (close)="closeAllModals()" 
    (meal)="displayAdderModal()" 
    (food)="displayFood()" 
    [mealExists]="mealExists">
</adder-chooser>
<food-adder 
    id="food-adder" 
    *ngIf="adderFoodShowing" 
    (close)="closeAllModals()" 
    (food)="addFood($event)"
    (store)="storeNewFood($event)"
    [existingFoods]="storedFoods">
</food-adder>
<goal-editor 
    id="goal-editor" 
    *ngIf="goalEditorShowing"
    (close)="closeAllModals()"
    (updated)="updateGoal($event)"
    [currentAmount]="goalEditorAmount"
    [goalName]="goalEditorName">
</goal-editor>
<settings
    id="settings"
    *ngIf="settingsShowing"
    (close)="closeAllModals()">
</settings>
<confirm-modal
    id="confirm-modal"
    *ngIf="confirmModalShowing"
    (close)="closeAllModals()"
    (confirm)="confirmClicked($event)"
    [message]="confirmModalMessage"
    [confirmText]="confirmModalButtonText"
    [actionKey]="confirmModalActionKey"
    [context]="confirmModalContext">
</confirm-modal>


<footer 
    id="footer" 
    [caloriesGoal]="caloriesGoal" 
    [carbsGoal]="carbsGoal" 
    [proteinGoal]="proteinGoal" 
    [caloriesRemaining]="caloriesLeft" 
    [carbsRemaining]="carbsLeft" 
    [proteinRemaining]="proteinLeft"
    (calories)="editCalories()"
    (carbs)="editCarbs()"
    (protein)="editProtein()">
</footer>