#adder {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#goals {
    position: fixed;
    top: 0px;
    right: 10px;
    width: 200px;
    height: 150px;
}

#remaining {
    position: fixed;
    width: 200px;
    top: 150px;
    right: 10px;
}