#adder {
    position: fixed;
    bottom: 60px;
    right: 20px;
}

#goals {
    position: fixed;
    top: 55px;
    right: 10px;
    width: 220px;
    background-color: #333333;
    border: solid 1px #444444;
    box-sizing: border-box;
    box-shadow: 2px 5px #0003;
}

#remaining {
    position: fixed;
    width: 220px;
    top: 250px;
    right: 10px;
    background-color: #333333;
    border: solid 1px #444444;
    box-sizing: border-box;
    box-shadow: 2px 5px #0003;
}

#today-food {
    position: fixed;
    top: 75px;
    height: calc(100% - 120px);
    width: 100%;
    overflow-y: auto;
}