<div id="background" (click)="closeModal()">
    <div id="foreground" (click)="doNothing($event)">
        <div class="modal-title">Start New Meal</div>
        <div class="modal-content">
            <div id="meal-selector">
                <label for="meal-select" id="meal-select-label">Meal:</label>
                <select name="meal-select" id="meal-select" [(ngModel)]="mealSelected">
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Snack">Snack</option>
                </select>
            </div>
        </div>
        <div class="modal-actions action-button-wrapper">
            <div class="action-button" (click)="startMeal()">
                <mat-icon 
                    aria-hidden="false" 
                    aria-label="start meal" 
                    fontIcon="done" 
                    class="start-meal-icon">
                </mat-icon>
            </div>
            <div class="action-button" (click)="closeModal()">
                <mat-icon 
                    aria-hidden="false" 
                    aria-label="close modal" 
                    fontIcon="close" 
                    class="cancel-icon">
                </mat-icon>
            </div>
        </div>
    </div>
</div>